<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileShare | an Holt app</title>
</head>
<style>

    
    html,
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;  
        background-color: rgb(31, 31, 31);
        
    }
    
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    }
    #heading{
        position: absolute;
        top: 38%;
        left: 49%;
        transform: translate(-40%, -50%);
        -ms-transform: translate(-40%, -50%); /* IE 9 */
        -webkit-transform: translate(-40%, -50%); /* Chrome, Safari, Opera */
        color: #fff;
    }

    input[type="file"] {
        display: none;
    }

    .btn{
        position: relative;
        display: block;
        width: 200px;
        height: 36px;
        border-radius: 18px;
        background-color: #1c89ff;
        border: solid 1px transparent;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        transition: all .1s ease-in-out;
        text-align: center;
        

    }
    .btn:hover {
        background-color: transparent;
        border-color: #fff;
        transition: all .1s ease-in-out;
      }
</style>
<body>
    <div class="container">
    <h1 id="heading">💾 FileShare</h1>
    <% if (locals.filelink != null){ %>
        <div style="margin: 1rem;">
            Your file is succesfully uploaded:
            <a href="<%= locals.filelink %>"><%= locals.filelink %></a>
        </div>
   <% }%>
    <form action="/upload" method="post"
    style='display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto; text-align:left;'
    enctype="multipart/form-data">
        <Label class='btn' for='file'>File</Label>
        <input type="file"  id="file" name="file" required>
        <!-- <Label for="password">Password</Label>
        <input type="text" id="password" name="password"> -->
        <button class='btn' type="submit" style="grid-column: span 2">Share</button>
    </form>
</div>
</body>
</html>